.video-card {
    max-width: 25rem;
    padding: 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
  
.col-flex-util {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.thumbnail-container {
    position: relative;
    width: 23.875rem;
    height: 13.44rem;
    cursor: pointer;
}
  
.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}
  
.video-length {
    background-color: var(--primary-color);
    color: white;
    padding: 0.3rem 0.5rem;
    bottom: 0.875rem;
    right: 0.25rem;
    border-radius: 4px;
    font-weight: bold;
}
  
.about-video {
    margin-top: 8px;
    align-items: flex-start;
    width: 24vw;
}

.video-details {
    width: 80%;
}
  
.channel-icon {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
  
.gap-12px {
    gap: .75rem;
}
  
.gap-8px {
    gap: 8px;
}
  
.line-height {
    line-height: 8px;
    font-weight: normal;
}

.option {
    top: -8px;
    right: -10px;
}