.mg {
    margin-top: 6rem;
    position: relative;
}
  
.main-video-container {
    margin: 0 0 8rem 16rem;
}
  
.videos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    place-content: center center;
}
  