.page-title {
    margin-bottom: 2rem;
}
  
.clear-all {
    margin-left: auto;
}

.title-width {
    width: 78vw;
}

.back-home {
    text-decoration: underline;
    color: var(--primary-color);
}

.notify-message {
    text-align: center;
}

.playlist-box {
    width: 35vw;
    padding: 1rem;
}
  
.playlist-container {
    gap: 3rem;
    flex-wrap: wrap;
}
  
.playlist-box:hover {
    cursor: pointer;
}