@import url("https://uilight.netlify.app/main.css");
@import url("./components/Navbar/Navbar.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --primary-color: #334155;
  --background-color: #f3f4f6;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}
